<header>
    <nav>
        <a id="beacon" href="/">
            <div id="home-text"> Home</div>
        </a>
    </nav>

    <div class="right-sidebar">
        {{#githubLink}}
        <a class="ext-link" href="{{githubLink}}">
            <img src="/images/github-logo.svg" alt="Github Profile" class="light-inverted"/>
        </a>
        {{/githubLink}}

        {{#blueskyLink}}
        <a class="ext-link" href="{{blueskyLink}}">
            <img src="/images/bluesky-logo.svg" alt="Bluesky Profile" class="light-inverted"/>
        </a>
        {{/blueskyLink}}
        {{#mastodonLink}}
        <a class="ext-link" href="{{mastodonLink}}">
            <img src="/images/mastodon-logo.svg" alt="Mastodon Profile" class="light-inverted"/>
        </a>
        {{/mastodonLink}}
        <a class="ext-link" id="theme-button">
            <img src="/images/white-sun-behind-cloud-noto-emoji-bold.svg" alt="Toggle light mode" class="light-inverted"/>
        </a>
    </div>
</header>
